.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 1px solid black;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.display {
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding-right: 10px;
}

.buttons {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex: 1;
}

button {
    flex: 1 1 25%;
}

button.wide {
    flex-basis: 50%;
}